body, html {
    font-family: sans-serif;
    margin: 0;
    color: #444;
}

div {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: darkslategray;
    color: white;
    padding-top: 20px;
}

.header h1, .header h2 {
    margin: 5px 20px;
}

.header h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}

.navigation {
    background-color: lightslategray;
}

.navigation ul {
    list-style: none;
    padding-left: 0;
}

.navigation ul li {
    float: left;
    padding: 5px 20px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: darkslategray;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.featured-products .product {
    float: left;
    width: 30%;
    margin-right: 1.11%;
    padding: 10px;
}

.main-content {
    width: 65%;
    float: left;
    margin-right: 1%;
}

.sidebar {
    background-color: #eee;
    width: 33%;
    float: left;
    padding: 20px;
}

.footer {
    clear: left;
    width: 100%;
    background-color: darkslategray;
    color: white;
    padding: 20px;
}

.footer h2 {
    margin: 0;
}

.footer .contact-information {
    width: 920px;
    margin: 0 auto;
}

/****** CLEARFIX *******/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */